{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "prettier",
    "plugin:standard-typescript/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "react/jsx-uses-vars": "error",
    "standard/object-curly-even-spacing": ["error", "either"]
  }
}
